@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}


header nav{
    background-image: linear-gradient(to right, #990000,#000066 );
    background-repeat: no-repeat;
    font-size:18px;
    line-height: 22px;
    color:#ffcc00;
    margin:0;
    padding:0;
    word-wrap:break-word !important;
    font-family: "robot",sans-serif;   
    position: relative;
}


a{
    color:#ffcc00;
}

.toggle, [id^=drop]{
    display:none;
}

.logo_img{
    display: block;
    float:left;
    margin:0;
    padding:4px;
}

#logo{
    display:block;
    margin: 0 0 0 10px;
    padding:0 10px;
    float:left;
    font-size: 1.3rem;
    line-height:50px;
    font-weight: bolder;
}

#main-toggle {
    border: none;
    cursor:pointer;
    float: right;
    padding:25px 20px;
    position: relative;
    user-select: none;
    color: rgba(255,0,0,0);
}

.nav-icon{
    background:#ffcc00;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
}

.nav-icon:before,
.nav-icon:after{
    background:#ffcc00;
    content:" ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav-icon:before{
    top:5px;
}

.nav-icon:after{
    top:-5px;
}

header nav:after{
    content:"";
    display: table;
    clear:both;
}

header nav ul{
    float:right;
    padding:0;
    margin:0;
    list-style:none;
    position: relative;
}

header nav ul li{
    margin:0;
    float:left;
    background-image: linear-gradient(to left, #000066, #990000);
}


header nav a{
    display: block;
    padding: 0 20px;
    font-size:20;
    line-height: 50px;
    text-decoration: none;
    border-left: 1px solid orange;
}

header nav ul li ul li:hover{
    background-color: #000066 ;
}

header nav a:hover {
    background-image: linear-gradient(to left, #990000,#000066 );
}

header nav ul ul{
    display: none;
    position: absolute;
    top: 50px;

}


header nav ul ul li {
    width: 210px;
    float:none;
    display: list-item;
    position: relative;
    border-left: 1px solid orange;
}

header nav ul ul ul li {
    position: relative;
    top:-50px;
    left:210px;
    border-left: 1px solid orange;
}

header nav ul li:hover>ul {
    display: inherit;

}

li>a:after{
    content: " ▼";
}

li>a:only-child:after {
    content:"";
}

.content {
    color: white;
    padding: 1% 15%;
    padding-bottom: 2.5rem;
}

.titles {
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    color:#ffcc00; 
    clear: both;
}

.text {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Baloo Thambi 2', cursive;
    padding: 0;
    clear: both;
}

.content_img {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.links {
    color: #ffcc00;
    text-decoration: none;
}

.center_text {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: center;
    color: #ffcc00;

}

.video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}




.footer {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    border-top: 3px double white;
}

.footer nav{
    margin-left: auto;
    margin-right: auto;
}


.footer nav ul{
}

.footer nav ul li{
    display: inline-block;
    list-style: none;
}


.footer nav ul li a {
    font-weight: 1000;
    font-size: 14px;
    text-decoration: none;
}


.footer nav ul li a::before {
    content: "| ";
}

.footer nav ul li a::after {
    content: " |";
}

.footer nav p {
    background-image: linear-gradient(to right, yellow,  #990000);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    
}

.content_squad{
    color: white;
    padding: 1% 5%;
    padding-bottom: 2.5rem;
    background-color: white;
    border: 3rem solid #000066;
    border-radius: 80px;
    
}

.grid {
    font-size: 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid a {
    margin: 2px;
    border: 4px solid transparent;
    opacity: .8;
    transition: all .3s ease-in;
}

.grid a:hover {
    border-color: #990000;
    border-radius: 10px;
    opacity: 1;
}

.grid a img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}


.titles_s {
    background-image: linear-gradient(to right, #990000,#000066);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    clear: both;
    text-align: center;
    padding-top: 3%;
}

.content_img_s {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_honours {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}



.center_text_honours {
    background-image: linear-gradient(to right, #990000,#000066);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: center;
    margin: 0 auto 0;
    max-width: 66.8rem;
    font-size: 2.5rem;
    font-weight: bolder;

}

.center_text_honours_text {
    background-image: linear-gradient(to right, #990000,#000066);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: center;
    margin: 0 auto 3rem;
    max-width: 66.8rem;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: bolder;
}

.trophy_box{
    width: 90%;
    padding: 0px;
    border: 5px outset gray;
    background-color: gainsboro;
    margin: 0;
    display: inline-block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.img_honours {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}

.text_honours {
    color: black;
    font-size: 0.9rem;
    margin: 0 auto;
    padding-left: 35%;
    padding-right: 5%;
    font-weight: bolder;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    font-family: 'Oswald', sans-serif;
}

.text_honours_desc {
    color: black;
    font-size: 0.8rem;
    margin: 0 auto;
    padding-left: 35%;
    padding-right: 5%;
    font-weight: lighter;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    font-family: 'Oswald', sans-serif;
}


.text_honours_desc_b {
    color: black;
    font-size: 0.8rem;
    margin: 0 auto;
    padding-left: 32%;
    padding-right: 5%;
    font-weight: bolder;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    font-family: 'Oswald', sans-serif;
}

.tropy_honours_img {
    width: 30%;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
    border-radius: 6px 0 0 6px;
}





@media all and ( max-width:1280px) {



    header nav{
        margin:0;
    }
    
    header nav ul{
        float:none;
    }
    
    .toggle+a,
    .menu{
        display:none;
    }
    
    .toggle{
        display: block;
        background-color: #990000;
        padding:0 20px;
        color: #ffcc00;
        font-size: 20px;
        line-height: 50px;
        text-decoration: none;
        border:none;
        border-left: 1px solid orange;
    }
    
    .toggle:hover{
        background-image: linear-gradient(to left, #990000,#000066 );
    }
    
    [id^=drop]:checked+ul {
        display:block;
    
    }
    
    header nav ul li{
        display: block;
        width: 100%;
    }
    
    header nav ul ul .toggle,
    header nav ul ul a{
        padding: 0 40px;
    
    }
    
    header nav ul ul ul a{
        padding: 0 50px;
        background-color: #00091a;
    }
    
    header nav ul li ul li .toggle,
    header nav ul ul a {
        background-color:#001a4d;
    }
    
    header nav ul ul{
        float: none;
        position: static;
        color: #ffcc00;
    }
    
    header nav ul ul li:hover>ul,
    header nav ul li:hover>ul{
        display: none;
        background-color: yellow;
    
    }
    
    header nav ul ul li{
        display: block;
        width:100%;
    }
    
    header nav ul ul ul li{
        position: static;
    }
    
    header nav ul a {
        background-color: #990000;
    }
    
    .footer nav ul li a {
        font-weight: 500;
        font-size: 1re;
        text-decoration: none;
    }
    
    .footer nav ul{
        
    }
    
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }
    
    .grid a {
        margin: 2px;
        border: 4px solid transparent;
        opacity: 1;
        transition: all .3s ease-in;
    }
    
    
    .center_text_honours {
        background-image: linear-gradient(to right, #990000,#000066);  
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        margin-left: auto;
        margin-right: auto;
        clear: both;
        text-align: center;
        margin: 0 auto 0;
        max-width: 66.8rem;
        font-weight: bolder;
    
    }
    
    .center_text_honours_text {
        background-image: linear-gradient(to right, #990000,#000066);  
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        margin-left: auto;
        margin-right: auto;
        clear: both;
        text-align: center;
        margin: 0 auto 3rem;
        max-width: 66.8rem;
        line-height: 1.3rem;
        font-weight: bolder;
    }

    
    .trophy_box{
        width: 60%;
        padding: 0px;
        line-height: 30px;
        border: 5px outset gray;
        background-color: gainsboro;
        margin: 0;
        display: block;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        vertical-align: middle;
    }
    
    .text_honours {
        color: black;
        font-size: 0.8rem;
        font-weight: bolder;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        vertical-align: middle;
        float: none;
        padding: 0 3%;
        margin: 0;
    }
    
    
    .text_honours_desc {
        color: black;
        font-size: 0.7rem;
        font-weight: lighter;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        vertical-align: middle;
        float: none;
        padding: 0 3%;
    }
    
    .text_honours_desc_b {
        color: black;
        font-size: 0.7rem;
        font-weight: lighter;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        vertical-align: middle;
        float: none;
        padding: 0 2%;
    }
    
    
    .tropy_honours_img {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        float: left;
        border-radius: 6px 6px 0 0;
    }
    
    
    
    
}
        
        
        
@media all and ( max-width:768px) {



    header nav{
        margin:0;
    }
    
    header nav ul{
        float:none;
    }
    
    .toggle+a,
    .menu{
        display:none;
    }
    
    .toggle{
        display: block;
        background-color: #990000;
        padding:0 20px;
        color: #ffcc00;
        font-size: 20px;
        line-height: 50px;
        text-decoration: none;
        border:none;
        border-left: 1px solid orange;
    }
    
    .toggle:hover{
        background-image: linear-gradient(to left, #990000,#000066 );
    }
    
    [id^=drop]:checked+ul {
        display:block;
    
    }
    
    header nav ul li{
        display: block;
        width: 100%;
    }
    
    header nav ul ul .toggle,
    header nav ul ul a{
        padding: 0 40px;
    
    }
    
    header nav ul ul ul a{
        padding: 0 50px;
        background-color: #00091a;
    }
    
    header nav ul li ul li .toggle,
    header nav ul ul a {
        background-color:#001a4d;
    }
    
    header nav ul ul{
        float: none;
        position: static;
        color: #ffcc00;
    }
    
    header nav ul ul li:hover>ul,
    header nav ul li:hover>ul{
        display: none;
        background-color: yellow;
    
    }
    
    header nav ul ul li{
        display: block;
        width:100%;
    }
    
    header nav ul ul ul li{
        position: static;
    }
    
    header nav ul a {
        background-color: #990000;
    }
    
    .footer nav ul li a {
        font-weight: 500;
        font-size: 1re;
        text-decoration: none;
    }
    
    .footer nav ul{
        
    }
    
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    
    .grid a {
        margin: 2px;
        border: 4px solid transparent;
        opacity: 1;
        transition: all .3s ease-in;
    }
    
    .center_text_honours {
        font-size: 1.8rem;
    }

    .center_text_honours_text {
        background-image: linear-gradient(to right, #990000,#000066);  
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        margin-left: auto;
        margin-right: auto;
        clear: both;
        text-align: center;
        margin: 0 auto 3rem;
        max-width: 66.8rem;
        font-size: 0.7rem;
        line-height: 1.3rem;
        font-weight: bolder;
    }
    
    .trophy_box{
        width: 60%;
        padding: 0px;
        line-height: 10px;
        border: 5px outset gray;
        background-color: gainsboro;
        margin: 0;
        display: block;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        vertical-align: middle;
    }
    
    .text_honours {
        color: black;
        font-size: 0.5rem;
        font-weight: bolder;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        vertical-align: middle;
        float: none;
        padding: 0% 3%;
        margin: 0;
        margin-top: 65%;
    }
    
    .text_honours_desc {
        color: black;
        font-size: 0.4rem;
        font-weight: lighter;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        vertical-align: middle;
        float: none;
        padding: 0 3%;
    }
    
    .text_honours_desc_b {
        color: black;
        font-size: 0.5rem;
        font-weight: lighter;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        vertical-align: middle;
        float: none;
        padding: 0 2%;
    }
    
    
    .tropy_honours_img {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        float: left;
        border-radius: 6px 6px 0 0;
    }
    

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }
    
    
    
}


