@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}


nav{
    background-image: linear-gradient(to right, #990000,#000066 );
    background-repeat: no-repeat;
    font-size:18px;
    line-height: 22px;
    color:#ffcc00;
    margin:0;
    padding:0;
    word-wrap:break-word !important;
    font-family: "robot",sans-serif;   
    position: relative;
}


a{
    color:#ffcc00;
}

.toggle, [id^=drop]{
    display:none;
}

.logo_img{
    display: block;
    float:left;
    margin:0;
    padding:4px;
}

#logo{
    display:block;
    margin: 0 0 0 10px;
    padding:0 10px;
    float:left;
    font-size: 1.3rem;
    line-height:50px;
    font-weight: bolder;
}

#main-toggle {
    border: none;
    cursor:pointer;
    float: right;
    padding:25px 20px;
    position: relative;
    user-select: none;
    color: rgba(255,0,0,0);
}

.nav-icon{
    background:#ffcc00;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
}

.nav-icon:before,
.nav-icon:after{
    background:#ffcc00;
    content:" ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav-icon:before{
    top:5px;
}

.nav-icon:after{
    top:-5px;
}

nav:after{
    content:"";
    display: table;
    clear:both;
}

nav ul{
    float:right;
    padding:0;
    margin:0;
    list-style:none;
    position: relative;
}

nav ul li{
    margin:0;
    float:left;
    background-image: linear-gradient(to left, #000066, #990000);
}


nav a{
    display: block;
    padding: 0 20px;
    font-size:20;
    line-height: 50px;
    text-decoration: none;
    border-left: 1px solid orange;
}

nav ul li ul li:hover{
    background-color: #000066 ;
}

nav a:hover {
    background-image: linear-gradient(to left, #990000,#000066 );
}

nav ul ul{
    display: none;
    position: absolute;
    top: 50px;

}


nav ul ul li {
    width: 210px;
    float:none;
    display: list-item;
    position: relative;
    border-left: 1px solid orange;
}

nav ul ul ul li {
    position: relative;
    top:-50px;
    left:210px;
    border-left: 1px solid orange;
}

nav ul li:hover>ul {
    display: inherit;

}

li>a:after{
    content: " ▼";
}

li>a:only-child:after {
    content:"";
}

.content {
    color: white;
    padding: 1% 15%;
    padding-bottom: 2.5rem;
}

.titles {
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    color:#ffcc00; 
    clear: both;
}

.text {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Baloo Thambi 2', cursive;
    padding: 0;
    clear: both;
}

.content_img {
    width: 80%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.links {
    color: #ffcc00;
    text-decoration: none;
}

.center_text {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: center;
    color: #ffcc00;

}

.video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.content_squad{
    color: white;
    padding: 1% 5%;
    padding-bottom: 2.5rem;
    background-color: white;
    border: 3rem solid #000066;
    border-radius: 80px;
    
}

.grid {
    font-size: 0;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid a {
    margin: 2px;
    border: 4px solid transparent;
    opacity: .8;
    transition: all .3s ease-in;
}

.grid a:hover {
    border-color: #990000;
    border-radius: 10px;
    opacity: 1;
}

.grid a img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}


.titles_s {
    background-image: linear-gradient(to right, #990000,#000066);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    clear: both;
}

.content_img_s {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_honours {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}



.center_text_honours {
    background-image: linear-gradient(to right, #990000,#000066);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: center;
    margin: 0 auto 0;
    max-width: 66.8rem;
    font-size: 2.5rem;
    font-weight: bolder;

}

.center_text_honours_text {
    background-image: linear-gradient(to right, #990000,#000066);  
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    text-align: center;
    margin: 0 auto 3rem;
    max-width: 66.8rem;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: bolder;
}

.trophy_box{
    width: 90%;
    padding: 0px;
    border: 1px solid gray;
    background-color: gainsboro;
    margin: 0;
    display: inline-block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.img_honours {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}

.text_honours {
    color: black;
    font-size: 0.9rem;
    margin: 0 auto;
    padding-left: 35%;
    padding-right: 5%;
    font-weight: bolder;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
}


.tropy_honours_img {
    width: 30%;
    height: 30%;
    padding: 0;
    margin: 0;
    float: left;
    border-radius: 10px 0 0 10px;
}




@media all and ( max-width:1050px) {



nav{
    margin:0;
}

nav ul{
    float:none;
}

.toggle+a,
.menu{
    display:none;
}

.toggle{
    display: block;
    background-color: #990000;
    padding:0 20px;
    color: #ffcc00;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    border:none;
    border-left: 1px solid orange;
}

.toggle:hover{
    background-image: linear-gradient(to left, #990000,#000066 );
}

[id^=drop]:checked+ul {
    display:block;

}

nav ul li{
    display: block;
    width: 100%;
}

nav ul ul .toggle,
nav ul ul a{
    padding: 0 40px;

}

nav ul ul ul a{
    padding: 0 50px;
    background-color: #00091a;
}

nav ul li ul li .toggle,
nav ul ul a {
    background-color:#001a4d;
}

nav ul ul{
    float: none;
    position: static;
    color: #ffcc00;
}

nav ul ul li:hover>ul,
nav ul li:hover>ul{
    display: none;
    background-color: yellow;

}

nav ul ul li{
    display: block;
    width:100%;
}

nav ul ul ul li{
    position: static;
}

nav ul a {
    background-color: #990000;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid a {
    margin: 2px;
    border: 4px solid transparent;
    opacity: 1;
    transition: all .3s ease-in;
}



.trophy_box{
    width: 90%;
    padding: 0px;
    line-height: 100px;
    border: 1px solid gray;
    background-color: gainsboro;
    margin: 0;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}

.text_honours {
    color: black;
    font-size: 15px;
    font-weight: bolder;
    display: inline;
    vertical-align: top;
    padding-left: 0;
    float: left;
}


.tropy_honours_img {
    width: 50%;
    height: auto;
    padding: 0;
    position: relative;
    display: block;
    margin-left: 0 auto;
    border-radius: 10px 0 0 10px;
    float: none;
}



}



